/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2017, 7:02:50 PM
    Author     : linaro
*/

input:disabled {
    background-color: #e0e0e0 !important;
}

.wpcf7-checkbox>.wpcf7-list-item.first {
    margin-left: 0 !important;
}

.wpcf7-acceptance>.wpcf7-list-item {
    margin-left: 0 !important;
}